
.html {
  height: 100%;
  width:100%;
}

.name {
  top: 50px;
  left: 50px;
  font-family: 'Lato', sans-serif;
  color: white;
}

body {

  padding: 0;
  margin: 0;
 height:100%;
 width: 100%;
}

header {
  display: flex;
  justify-content: space-around;
}

.container1 {

  height: 100vh;
   background-image: linear-gradient(to right top, #218dc6, #009eca, #00adc3, #00bbb3, #28c69c);
   background-repeat: no-repeat;

   display: flex;
   justify-content: center;


  display: flex;
  justify-content: space-around;

  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  margin-top: 25px;
  margin-right: 10px;
}

a {
  margin-left: 10px;
  text-decoration: overline;
  color: white;
  margin-right: 15px;
}

.container2 {
  width: 90%;
  color: white;
  padding: 15px 15px 15px 15px;

}

.container3 {

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.container4 {
  background-image: white;
  color:#218dc6;
  padding: 15px 15px 15px 15px;
}

.icon {
  visibility: hidden;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;

}

footer {
  display: flex;
  color: #218dc6;
  justify-content: center;
}

@media all and (max-width: 1500px) {

  .name {
    margin-left: 20px;
  }
  header {
   justify-content: space-between;
  }

  .scroll {
    overflow: hidden;
  }


  .topnav {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    right: -300px;
    background-color: rgba(35,30,33, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 60%;
    transition: right 0.8s;
  }

  .topnav a {
    padding-top: 20px;
    padding-bottom:20px;
  }


  .change {
    right: 0;
  }




  .icon {
    position:absolute;
    visibility: visible;
    right: 50px;
    top: 50px;
    content: url("../menu.png");
    cursor: pointer;

  }

  .cross {
    content: url("../cancel.png");
    z-index:99;

  }


}

@media all and (max-width: 800px)


{
  .brake {
    visibility: hidden;
  }

  .container1 {
    height: auto;
  }
}

@media all and (max-width: 500px) {
  .icon {
    top: 30px;
    right: 30px;
  }

}
