html {
background-image: linear-gradient(to right top, #218dc6, #009eca, #00adc3, #00bbb3, #28c69c);
   background-repeat: no-repeat;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;

}
.name {
  font-family: 'Lato', sans-serif;
  color: white;
}

body {
  height: 100%;
  width: 80%;
  height: 200vh;
}

header {
  display: flex;
  justify-content: space-between;
}

.container1 {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  margin-top: 25px;
  margin-right: 10px;
}

a {
  margin-left: 10px;
  text-decoration: overline;
  color: white;
  margin-right: 15px;
}

.container2 {
  background-color: white;
  padding: 15px 15px 15px 15px;
  box-shadow: 10px 10px 5px grey;
}

.container3 {

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.container4 {
  background-image: linear-gradient(to right top, #218dc6, #009eca, #00adc3, #00bbb3, #28c69c);
  padding: 15px 15px 15px 15px;
  box-shadow: 10px 10px 5px grey;
}

.container4 p {
  color: white;
}

.container4 h1 {
  color: white;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;

}

footer {
  display: flex;
  justify-content: center;
}
